<a href="https://colab.research.google.com/github/dreamer561/DataScience/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

import pandas as pd
import numpy as np

In [ ]:
# from numpy import randin
np.random.seed(101)

In [ ]:
from numpy.random.mtrand import randn
#dataframe Creation
# randn(5,4)
df=pd.DataFrame(randn(5,4),'A B C D E '.split(),columns='W X Y Z'.split())
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
#selection and indexing
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [ ]:
#smaller  datafrom from 
df[['W','X']]

          W         X
A  2.706850  0.628133
B  0.651118 -0.319318
C -2.018168  0.740122
D  0.188695 -0.758872
E  0.190794  1.978757

In [ ]:
# creating series
df.W
type(df.W)

pandas.core.series.Series

In [ ]:
#creating new columns
df['new']=df['W']+df['Y']
df['new']

A    3.614819
B   -0.196959
C   -1.489355
D   -0.744542
E    2.796762
Name: new, dtype: float64

In [ ]:
df1=df

In [ ]:
#dropping column new
df1

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [ ]:
# df.drop('new',axis=1,inplace=True)
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [ ]:
#for deleting col
# df.drop('E',axis=0,inplace=True)
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [ ]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [ ]:
#Selection rows
df.loc['A']

W      2.706850
X      0.628133
Y      0.907969
Z      0.503826
new    3.614819
Name: A, dtype: float64

In [ ]:
type(df.loc['A'])

pandas.core.series.Series

In [ ]:
df.iloc[2]

W     -2.018168
X      0.740122
Y      0.528813
Z     -0.589001
new   -1.489355
Name: C, dtype: float64

In [ ]:
#selecting subset of rows and columns
df.loc[['A','B',],['W','Y']]

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077

#CONDITIONAL SELECTION

In [ ]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [ ]:
df>0

       W      X      Y      Z    new
A   True   True   True   True   True
B   True  False  False   True  False
C  False   True   True  False  False
D   True  False  False   True  False
E   True   True   True   True   True

In [ ]:
df[df>0]

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118       NaN       NaN  0.605965       NaN
C       NaN  0.740122  0.528813       NaN       NaN
D  0.188695       NaN       NaN  0.955057       NaN
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [ ]:
df[df['W']>0]

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [ ]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [ ]:
df[df['W']>0]['Y']

A    0.907969
B   -0.848077
D   -0.933237
E    2.605967
Name: Y, dtype: float64

In [ ]:
df[df['W']>0][['Y','X']]

          Y         X
A  0.907969  0.628133
B -0.848077 -0.319318
D -0.933237 -0.758872
E  2.605967  1.978757

#Playing with Index

In [ ]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [ ]:
# Reset to default 0,1....n
df.reset_index()

  index         W         X         Y         Z       new
0     A  2.706850  0.628133  0.907969  0.503826  3.614819
1     B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
2     C -2.018168  0.740122  0.528813 -0.589001 -1.489355
3     D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
4     E  0.190794  1.978757  2.605967  0.683509  2.796762

In [ ]:
newind='CA NY WY QR CO'.split()
newind
df['States']=newind

In [ ]:
df['States']=newind
df

          W         X         Y         Z       new States
A  2.706850  0.628133  0.907969  0.503826  3.614819     CA
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959     NY
C -2.018168  0.740122  0.528813 -0.589001 -1.489355     WY
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542     QR
E  0.190794  1.978757  2.605967  0.683509  2.796762     CO

In [ ]:
df.set_index('States',inplace=True)
df

               W         X         Y         Z       new
States
CA      2.706850  0.628133  0.907969  0.503826  3.614819
NY      0.651118 -0.319318 -0.848077  0.605965 -0.196959
WY     -2.018168  0.740122  0.528813 -0.589001 -1.489355
QR      0.188695 -0.758872 -0.933237  0.955057 -0.744542
CO      0.190794  1.978757  2.605967  0.683509  2.796762

In [ ]:
# df1=pd.Dataframe({})
df1=pd.DataFrame({'a':['a0','a1','a2'],
                  'b':['b0','b2','b2'],
                  'c':['c0','c2','c2'],
                  'd':['d0','d2','d2']
                })

In [ ]:
import pandas as pd

In [ ]:
# df1=pd.Dataframe({})
df1=pd.DataFrame({'a':['a0','a1','a2'],
                  'b':['b0','b1','b2'],
                  'c':['c0','c1','c2'],
                  'd':['d0','d1','d2']
                })
df1

    a   b   c   d
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2

In [ ]:
df2=pd.DataFrame({'a':['a3','a4','a5'],
                  'b':['b3','b4','b5'],
                  'c':['c3','c4','c5'],
                  'd':['d3','d4','d5']
                })
df2

    a   b   c   d
0  a3  b3  c3  d3
1  a4  b4  c4  d4
2  a5  b5  c5  d5

In [ ]:
df3=pd.DataFrame({'a':['a6','a7','a8'],
                  'b':['b6','b7','b8'],
                  'c':['c6','c7','c8'],
                  'd':['d6','d7','d8']
                })

In [ ]:
#concaternaton
pd.concat([df1,df2,df3])

    a   b   c   d
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
0  a3  b3  c3  d3
1  a4  b4  c4  d4
2  a5  b5  c5  d5
0  a6  b6  c6  d6
1  a7  b7  c7  d7
2  a8  b8  c8  d8

In [ ]:
pd.concat([df1,df2,df3],axis=1)

    a   b   c   d   a   b   c   d   a   b   c   d
0  a0  b0  c0  d0  a3  b3  c3  d3  a6  b6  c6  d6
1  a1  b1  c1  d1  a4  b4  c4  d4  a7  b7  c7  d7
2  a2  b2  c2  d2  a5  b5  c5  d5  a8  b8  c8  d8

In [ ]:
df4=pd.DataFrame({'a':['a6','a7','a8'],
                  'b':['b6','b7','b8'],
                  'c':['c6','c7','c8'],
                  'd':['d6','d7','d8']
                 }, index=[1,2,3])

In [ ]:
df4

    a   b   c   d
1  a6  b6  c6  d6
2  a7  b7  c7  d7
3  a8  b8  c8  d8

In [ ]:
df=pd.DataFrame(randn(5,4),'A B C D E '.split(),columns='W X Y Z'.split())
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [ ]:
df5=pd.DataFrame({'a':['a6','a7','a8'],
                  'b':['b6','b7','b8'],
                  'c':['c6','c7','c8'],
                  'd':['d6','d7','d8']
                })
df5

    a   b   c   d
0  a6  b6  c6  d6
1  a7  b7  c7  d7
2  a8  b8  c8  d8

In [ ]:
#lacture 11
# merging
left=pd.DataFrame({
      'key':['ko','k1','k2','k3'],
      'A':['Ao','A1','A2','A3'],
      'B':['Bo','B1','B2','B3'],
      
})
right=pd.DataFrame({
      'key':['ko','k1','k2','k3'],
      'C':['Co','C1','C2','C3'],
      'D':['Do','D1','D2','D3'],
      
})

NameError: ignored

In [ ]:
left

  key   A   B
0  ko  Ao  Bo
1  k1  A1  B1
2  k2  A2  B2
3  k3  A3  B3

In [ ]:
right

  key   C   D
0  ko  Co  Do
1  k1  C1  D1
2  k2  C2  D2
3  k3  C3  D3

In [ ]:
#to merge
pd.merge(left,right,on='key',how='inner')

  key   A   B   C   D
0  ko  Ao  Bo  Co  Do
1  k1  A1  B1  C1  D1
2  k2  A2  B2  C2  D2
3  k3  A3  B3  C3  D3

In [ ]:
import pandas as pd
left=pd.DataFrame({
      'key1':['k0','k1','k2','k3'],
      'key2':['k0','k1','k0','k1'],
      'A':['A0','A1','A2','A3'],
      'B':['B0','B1','B2','B3'],
      
})
right=pd.DataFrame({
      'key1':['k0','k1','k2','k3'],
      'key2':['k0','k0','k0','k0'],
      'C':['C0','C1','C2','C3'],
      'D':['D0','D1','D2','D3'],
      
})

In [ ]:
left

  key1 key2   A   B
0   k0   k0  A0  B0
1   k1   k1  A1  B1
2   k2   k0  A2  B2
3   k3   k1  A3  B3

In [ ]:
right

  key1 key2   C   D
0   k0   k0  C0  D0
1   k1   k0  C1  D1
2   k2   k0  C2  D2
3   k3   k0  C3  D3

In [ ]:
pd.merge(left,right,on=['key1','key2'])

  key1 key2   A   B   C   D
0   k0   k0  A0  B0  C0  D0
1   k2   k0  A2  B2  C2  D2

In [ ]:
pd.merge(left,right,on=['key1','key2'],how='outer')

  key1 key2    A    B    C    D
0   k0   k0   A0   B0   C0   D0
1   k1   k1   A1   B1  NaN  NaN
2   k2   k0   A2   B2   C2   D2
3   k3   k1   A3   B3  NaN  NaN
4   k1   k0  NaN  NaN   C1   D1
5   k3   k0  NaN  NaN   C3   D3

In [ ]:
pd.merge(left,right,on=['key1','key2'],how='right')

  key1 key2    A    B   C   D
0   k0   k0   A0   B0  C0  D0
1   k1   k0  NaN  NaN  C1  D1
2   k2   k0   A2   B2  C2  D2
3   k3   k0  NaN  NaN  C3  D3

In [ ]:
pd.merge(left,right,on=['key1','key2'],how='left')

  key1 key2   A   B    C    D
0   k0   k0  A0  B0   C0   D0
1   k1   k1  A1  B1  NaN  NaN
2   k2   k0  A2  B2   C2   D2
3   k3   k1  A3  B3  NaN  NaN

In [ ]:
#Joining
left=pd.DataFrame({'A':['A0','A1','A2'],
                   'B':['B0','B1','B2'],
                    },index=['K0','K1','K2',])
right=pd.DataFrame({'C':['C0','C1','C2'],
                   'D':['D0','D1','D2'],
                    },index=['K0','K2','K3',])

In [ ]:
left

     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2

In [ ]:
right

     C   D
K0  C0  D0
K2  C1  D1
K3  C2  D2

In [ ]:
left.join(right)

     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C1   D1

In [ ]:
right.join(left)

     C   D    A    B
K0  C0  D0   A0   B0
K2  C1  D1   A2   B2
K3  C2  D2  NaN  NaN

In [ ]:
#Lacture 12 MIssing Data
import numpy as np
df=pd.DataFrame({'A':[1,2,np.nan],
                 'B':[5,np.nan,np.nan],
                 'C':[1,2,3]
                 })

NameError: ignored

In [ ]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [ ]:
df.dropna(axis=1)

   C
0  1
1  2
2  3

In [ ]:
df.dropna(thresh=2)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [ ]:
df.fillna(value='#')

     A    B  C
0  1.0  5.0  1
1  2.0    #  2
2    #    #  3

In [ ]:
df.fillna(value=df['A'].mean())

     A    B  C
0  1.0  5.0  1
1  2.0  1.5  2
2  1.5  1.5  3

In [ ]:
#GroupPy
data={'Company':['goog','goog','msft','msft','fb','fb'],
      'person':['sam','charli','amy','alice','carl','sarah'],
      'sales':[200,120,124,340,243,350]}

In [ ]:
df=pd.DataFrame(data)

In [ ]:
df

  Company  person  sales
0    goog     sam    200
1    goog  charli    120
2    msft     amy    124
3    msft   alice    340
4      fb    carl    243
5      fb   sarah    350

In [ ]:
by_comp=df.groupby('Company')

In [ ]:
by_comp.mean()

         sales
Company
fb       296.5
goog     160.0
msft     232.0

In [ ]:
by_comp.std()

              sales
Company
fb        75.660426
goog      56.568542
msft     152.735065

In [ ]:
by_comp.min()

         person  sales
Company
fb         carl    243
goog     charli    120
msft      alice    124

In [ ]:
by_comp.count()

         person  sales
Company
fb            2      2
goog          2      2
msft          2      2

In [ ]:
#Pandas operations
df=pd.DataFrame({'col1':[1,2,3,4],
                 'col2':[444,555,666,444],
                 'col3':['abc','def','ghi','jkl'],})

In [ ]:
df

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  jkl

In [ ]:
df['col2'].unique()

array([444, 555, 666])

In [ ]:
df['col1'].unique()

array([1, 2, 3, 4])

In [ ]:
df['col3'].count()

4

In [ ]:
df['col1'].value_counts()

1    1
2    1
3    1
4    1
Name: col1, dtype: int64

In [ ]:
#selecting data
newdf=df[(df['col1']>2) & (df['col2']==444)]

In [ ]:
newdf

   col1  col2 col3
3     4   444  jkl

In [ ]:
#Appline Functions
def time2(x):
  return x*2

In [ ]:
df['col1'].apply(time2)

0    2
1    4
2    6
3    8
Name: col1, dtype: int64

In [ ]:
df['col3'].apply(len)

0    3
1    3
2    3
3    3
Name: col3, dtype: int64

In [ ]:
df['col1'].sum()

10

In [ ]:
#Permanently removing a column
del df['col1']

In [ ]:
df

   col2 col3
0   444  abc
1   555  def
2   666  ghi
3   444  jkl

In [ ]:
# index column index names
df.columns

Index(['col2', 'col3'], dtype='object')

In [ ]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [ ]:
df

   col2 col3
0   444  abc
1   555  def
2   666  ghi
3   444  jkl

In [ ]:
df.sort_values(by='col2')

   col2 col3
0   444  abc
3   444  jkl
1   555  def
2   666  ghi

In [ ]:
#find null values
df.isnull()

    col2   col3
0  False  False
1  False  False
2  False  False
3  False  False

In [ ]:
fact=0
total=0
for i in range(1,5):
  fact/=i
  total*=fact
print(total)

0.0

In [ ]:
#7*6*5*4*3*2*1
num=int(input('Enter number to get factorial'))
fact=1
for i in range(1,num+1):
  for j in range(i):
    fact=j*i
    # fact*=i
print(fact)